.offer-container {
  display: flex;
  flex-direction: column; /* Alinha os elementos verticalmente por padrão */
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  padding-top: 60px;
  box-sizing: border-box;
}

.offer-content {
  display: flex;
  flex-direction: row; /* Alinha o formulário e os detalhes lado a lado */
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 900px; /* Limita a largura máxima */
  gap: 10px; /* Espaçamento entre o formulário e os detalhes */
}

.offer-form {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input,
.form-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.form-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0056b3;
}

.flight-details {
    flex: 1; /* Faz os detalhes ocuparem o espaço restante */
  margin-top: 100px; /* Remove o espaçamento superior */
  padding: 20px;
  background: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flight-details h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.flight-details p {
  font-size: 14px;
  margin: 5px 0;
}

.error-message,
.success-message {
  margin-top: 20px; /* Espaçamento entre o formulário e a mensagem */
  color: #d9534f; /* Vermelho para erro */
  background-color: #f8d7da; /* Fundo claro para erro */
  border: 1px solid #f5c6cb; /* Borda para erro */
  padding: 10px;
  border-radius: 6px;
  text-align: center; /* Centraliza o texto */
  width: 100%; /* Garante que a mensagem tenha o mesmo tamanho do formulário */
  max-width: 400px; /* Limita a largura máxima ao tamanho do formulário */
  box-sizing: border-box; /* Inclui padding e borda no tamanho total */
}

.success-message {
  color: #155724; /* Verde para sucesso */
  background-color: #d4edda; /* Fundo claro para sucesso */
  border: 1px solid #c3e6cb; /* Borda para sucesso */
}

@media (max-width: 768px) {
  .offer-container {
    flex-direction: column;
    align-items: stretch;
  }

  .flight-details {
    margin-top: 20px;
    width: 100%;
  }
}